.banner-outer {
  width: 100%;
  height: 500px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}

.banner-text-one,
.banner-text-two,
.banner-text-three,
.banner-icons {
  margin: 0 auto;
}

.banner-text-one {
  margin-top: 200px;
  width: 25%;
  height: 50px;
  color: #2b717dc5;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}
.banner-text-two {
  width: 70%;
  height: 250px;
  margin-top: -50px;
  margin-bottom: -50px;
  color: #bfe1e0;
  font-size: 133px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-text-three {
  width: 50%;
  height: 50px;
  color: #2b717dc5;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  margin-top: 15px;
}
.banner-icons {
  width: 20%;
  height: 80px;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
}
.icon {
  width: 25%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #2b717d;
}
.icon-import {
  width: 50%;
  height: 50%;
}
