.nav-outer {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #fef1e2;
  color: #fef1e2;
  padding-top: 20px;
  position: absolute;
  left: 50%;
  margin-left: -43%;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #b1cbca;
  z-index: 100;
}
.option:hover {
  cursor: pointer;
}
.nav-background {
  width: 100%;
  height: 80px;
  background-color: #b1cbca;
  padding-top: 20px;
  position: absolute;
  top: 0px;
}

.eyeliner-page-false {
  width: 99%;
  height: 0vh;
  transition: 1s;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.eyeliner-page-true {
  width: 99%;
  height: 99vh;
  transition: 1s;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.eyeliner-page-left {
  width: 20%;
  height: 100%;
  /* background-color: purple; */
}

.ribbon {
  width: 70%;
  height: 50px;
  margin: 20px 0px;
  background-color: white;
  font-size: 16px;
  display: flex;
  flex-wrap: nowrap;
  transition: 0.3s;
}

.eyeliner-page-about {
  margin-top: 160px;
}
.text-ribbon {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edge {
  height: 100%;
  width: 10%;
  clip-path: polygon(100% 0, 30% 54%, 100% 100%, 0 100%, 0 0);
  background-color: white;
  z-index: 1000;
  position: relative;
  left: 19%;
}

.ribbon:hover {
  width: 75%;
  cursor: pointer;
}

.eyeliner-page-right {
  width: 60%;
  height: 95%;
  display: flex;
  align-items: flex-end;
}
.eyeliner-page-right-inner {
  width: 100%;
  height: 83%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.about-in {
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
}
.about-he {
  width: 100%;
  height: 20%;
  font-size: 32px;
}
.about-su {
  width: 100%;
  height: 80%;
  font-size: 18px;
}
.prices-eyeliner-inner {
  text-align: center;
  width: 80%;
}
.heading {
  font-weight: bold;
}
.eye-photos-inner {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.photo {
  width: 400px;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  margin: 20px;
  transition: 0.3s;
}
.eye-photo-one {
  background-image: url("../assets/eye-one.jpeg");
}
.eye-photo-two {
  background-image: url("../assets/eye-two.jpeg");
}
.eye-photo-three {
  background-image: url("../assets/eye-three.jpg");
}
.eye-photo-four {
  background-image: url("../assets/lips-one.jpg");
}
.eye-photo-five {
  background-image: url("../assets/lips-two.jpg");
}
.eye-photo-six {
  background-image: url("../assets/brows-one.jpeg");
}
.eye-photo-seven {
  background-image: url("../assets/brows-two.jpeg");
}

.photo:hover {
  scale: 1.1;
}
.photo-false {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  transition: 0.3s;
}
.questions-and-answers-eyeliner-inner {
  width: 80%;
  height: 80%;
}
.pre-and-post-care-inner {
  width: 80%;
  height: 80%;
}
.price {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 28px;
}
.book-now-exit-button {
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 8%;
  right: 22%;
  border: 1px solid #4c3150;
  color: #4c3150;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background-color: white;
  text-decoration: none;
}
.book-now-exit-button:hover {
  background-color: #b8a3b6;
  cursor: pointer;
}
.nav-highlight {
  width: 165px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 100px;
  background-color: #2b717d46;
}
.option {
  width: 18%;
}
.go-infront {
  background-color: #2b717d46;
  position: absolute;
  height: 80px;
  padding: 20px 50px 0px 50px;
  top: 0px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.go-infront-false {
  background-color: #ffffff00;
  position: absolute;
  height: 80px;
  padding: 20px 50px 0px 50px;
  top: 0px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
