.options-outer {
  width: 100%;
  height: 1145px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.options-top {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}
.boxes-top,
.boxes-bottom {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 24%;
  height: 90%;
  background-color: lightgray;
}
.box-wide {
  width: 48%;
  height: 95%;
  padding: 10px;
  background-color: lightgray;
}
.bot {
  height: 100%;
}
.options-bottom {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
