.options-outer {
  width: 100%;
  height: 1145px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.options-top {
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}
.boxes-top,
.boxes-bottom {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box {
  width: 24%;
  height: 90%;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.box-wide {
  width: 48%;
  height: 95%;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  transition: 1s;
  position: relative;
  z-index: 3;
}
.box-wide-clicked {
  position: absolute;
  width: 80%;
  height: 800px;
  background-color: white;
  overflow: hidden;
  z-index: 11;
  transition: 1s;
  margin-top: -380px;
  display: flex;
  justify-content: flex-end;
}
.bot {
  height: 100%;
}
.options-bottom {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lip-tattoo-top {
  width: 100%;
  height: 50%;
  background-image: url("../assets/lips.JPG");
  background-size: cover;
  background-position: top;
  background-repeat: none;
  transition: 0.3s;
}
.lip-tattoo-top:hover {
  scale: 1.2;
}
.lip-tattoo-bottom {
  width: 100%;
  height: 50%;
  background-color: #b8a3b6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.lip-tattoo-bottom-inner {
  color: #4c3150;
  width: 80%;
  height: 70%;
}
.lip-tattoo-bottom-sub-header {
  margin: 10px 0px;
}
.h {
  font-size: 25px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
.s {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.b {
  width: 95px;
  height: 32px;
  border: 1px solid #4c3150;
  background-color: rgba(255, 255, 255, 0.247);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
.b:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.847);
}
.box-decoration-inner {
  background-color: #b1cbca;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}
.circle {
  background-color: #daebea;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  position: relative;
  margin-left: 40px;
  margin-top: -300px;
  transition: 0.3s;
}
.circle-expanded {
  background-color: #daebea;
  height: 760px;
  width: 760px;
  border-radius: 50%;
  position: relative;
  left: 0%;
  top: 0%;
  margin-left: -130px;
  margin-top: -510px;
  transition: 0.5s;
}
.girl {
  width: 350px;
  height: 450px;
  background-image: url("../assets/box\ two.png");
  background-size: cover;
  background-position: middle;
  background-repeat: none;
  position: relative;
  margin-top: -90px;
  margin-left: 10%;
  z-index: 3;
}

.quote-box {
  width: 100%;
  height: 100%;
  background-image: url("../assets/commas.JPG");
  background-size: cover;
  background-position: middle;
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}

.quote {
  width: 80%;
  height: 30%;
  font-size: 24px;
  color: #2b717d;
  text-align: end;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.quote-credit {
  font-size: 20px;
  margin-top: 20px;
}

.fourth-box-top,
.fourth-box-bottom {
  width: 100%;
  height: 50%;
}
.fourth-box-top {
  background-color: #fef1e2;
  display: flex;
  justify-content: flex-end;
}
.fourth-box-picture {
  margin-right: -10px;
  margin-top: -40px;
  width: 210px;
  height: 360px;
  background-image: url("../assets/eyeliner.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  transition: 0.1s;
}
.fourth-box-picture:hover {
  margin-right: -20px;
  margin-top: -50px;
  width: 240px;
  height: 390px;
}
.fourth-box-bottom {
  position: relative;
  background-color: #b8a3b6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #4c3150;
}

.fourth-box-bottom-inner {
  width: 70%;
  height: 65%;
}
.fourth-box-bottom-sub-header {
  margin: 15px 0px;
}
.b {
  border: 1px solid #4c3150;
}

.box-wide-picture {
  width: 110%;
  height: 110%;
  margin: -15px 0px 0px -15px;
  background-image: url("../assets/holding\ flower.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  transition: 0.3s;
}
.box-wide-picture:hover {
  margin: -45px 0px 0px -45px;
  width: 120%;
  height: 120%;
}
.box-wide-picture-clicked {
  width: 55%;
  height: 85%;
  margin: -15px 0px 0px -15px;
  background-image: url("../assets/holding\ flower.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  transition: 0.6s;
  position: relative;
  z-index: 1;
}
.about-me {
  font-size: 28px;
  position: absolute;
  font-family: "Inter", sans-serif;
  color: #b8a3b6;
  /* color: #4c3150; */
  margin-top: 330px;
  margin-left: 20px;
  font-weight: 500;
  z-index: 4;
}
.about-me-text-clicked {
  position: absolute;
  left: 450px;
  top: 70px;
  font-size: 32px;
  width: 150px;
  height: 50px;
  color: #4c3150;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.about-me-clicked {
  position: absolute;
  left: 100px;
  width: 500px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
}
.about-me-back-button {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: -50px;
}
.about-me-back-button-inner {
  width: 70%;
  height: 70%;
  color: #b8a3b6;
  transition: 0.3s;
}
.about-me-back-button-inner:hover {
  color: #4c3150;
}

.about-me-clicked-top,
.about-me-clicked-bottom {
  width: 100%;
  height: 50%;
}
.about-me-clicked-top-picture {
  width: 80%;
  height: 70%;
  background-image: url("../assets/kerrie-one.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.about-me-clicked-top-bottom {
  width: 45%;
  height: 30%;
  padding-top: 50px;
  /* font-family: sans-serif; */
  color: #4c3150;
}
.powder-brows-top {
  width: 100%;
  height: 50%;
  background-image: url("../assets/brows.png");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  transition: 0.3s;
}
.about-me-clicked-bottom {
  display: flex;
  flex-wrap: wrap;
}
.about-me-clicked-bottom-left {
  width: 50%;
  height: 100%;
}
.about-me-clicked-bottom-picture {
  width: 50%;
  height: 100%;
  background-image: url("../assets/kerrie-two.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: none;
  transition: 0.3s;
}
.powder-brows-top:hover {
  scale: 1.2;
}
.powder-brows-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8a3b6;
  position: relative;
  z-index: 2;
}
.powder-brows-bottom-inner {
  width: 80%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  color: #4c3150;
}
.permanent-brows-sub-header {
  margin: 10px 0px;
}
.sixth-box {
  background-color: #fef1e2;
}
.seventh-box-inner {
  width: 60%;
  height: 80%;
  /* background-image: url("../assets/seventh-picture.png"); */
  background-image: url("../assets/extra\ two.png");
  background-size: cover;
  background-position: top;
  background-repeat: none;
  margin-top: 80px;
  position: relative;
  z-index: 10;
}
.seventh-box {
  background-color: #daebea;
  background-color: #b1cbca;
}

.circle-two {
  background-color: #daebea;
  height: 260px;
  width: 260px;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
  margin-top: -300px;
  transition: 0.3s;
  z-index: 1;
}
.circle-two-expanded {
  background-color: #daebea;
  height: 760px;
  width: 760px;
  border-radius: 50%;
  position: relative;
  left: 0%;
  top: 0%;
  margin-left: -200px;
  margin-right: -230px;
  margin-top: -510px;
  transition: 0.5s;
}

@media screen and (max-width: 1700px) {
  .box-wide-picture-clicked {
    scale: 0.8;
    right: -80px;
  }
}
@media screen and (max-width: 1500px) {
  .fourth-box-bottom-sub-header {
    margin: 5px 0px;
  }
}
@media screen and (max-width: 1300px) {
  .quote {
    scale: 0.8;
  }
  .s {
    scale: 0.8;
    margin-left: -20px;
  }
  .box-wide-picture-clicked {
    scale: 0.6;
    right: -120px;
  }
}
@media screen and (max-width: 1150px) {
  .quote {
    scale: 0.6;
  }
  .h {
    scale: 0.8;
    margin-left: -20px;
  }
}
@media screen and (max-width: 1180px) {
  .box-wide-picture-clicked {
    scale: 0.6;
    right: -150px;
  }
}
@media screen and (max-width: 1000px) {
  .quote {
    margin-top: -100px;
  }
  .h {
    margin-top: -25px;
  }
  .about-me-clicked-top {
    scale: 0.6;
    margin-left: -100px;
  }
  .about-me-clicked-bottom {
    scale: 0.6;
    margin-left: -100px;
  }
  .box-wide-picture-clicked {
    scale: 0.6;
    right: -120px;
    height: 400px;
    width: 600px;
    margin-top: 50px;
  }
}
@media screen and (max-width: 750px) {
  .about-me-clicked-top {
    scale: 0.4;
    margin-left: -150px;
  }
  .about-me-clicked-bottom {
    scale: 0.4;
    margin-left: -150px;
  }
  .box-wide-picture-clicked {
    scale: 0.4;
    right: -180px;
    height: 400px;
    width: 600px;
    margin-top: 50px;
  }
  .about-me-text-clicked {
    scale: 0.6;
    margin-left: -300px;
  }
}
@media screen and (max-width: 700px) {
  .quote {
    margin-top: -100px;
  }
  .h {
    margin-top: -25px;
    scale: 0.6;
    margin-left: -30px;
  }
  .s {
    margin-top: -10px;
    margin-left: -10px;
    margin-top: -20px;
    margin-bottom: 0px;
  }
  .b {
    scale: 0.6;
    margin-top: -10px;
    margin-left: -20px;
  }
  .girl {
    scale: 0.5;
    left: -100px;
    bottom: -120px;
  }
  .seventh-box-inner {
    scale: 0.5;
    left: 0px;
    width: 200px;
    height: 200px;
    left: -22px;
    bottom: -180px;
  }
  .circle-two {
    top: 40px;
    left: 20px;
    width: 200px;
    height: 90px;
  }
}

@media screen and (max-width: 500px) {
  .about-me-clicked-top {
    scale: 0.4;
    margin-left: -150px;
  }
  .about-me-clicked-bottom {
    scale: 0.4;
    margin-left: -150px;
  }
  .box-wide-picture-clicked {
    scale: 0.4;
    right: -120px;
    height: 300px;
    width: 600px;
    margin-top: 150px;
  }
  .about-me-text-clicked {
    scale: 0.6;
    margin-left: -300px;
  }
}
